# ===== Dépendances =====
node_modules/
**/node_modules/

# ===== Next.js (Global & Local) =====
.next/
**/.next/
apps/site/out/
# Généré par scripts/sync-locales.js
apps/site/public/locales/

# ===== Build extension (apps/extension) =====
apps/extension/dist/
apps/extension/build/

# ===== Variables d'environnement =====
.env
.env.local
.env.*.local

# ===== Logs =====
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# ===== Editeurs / OS =====
.DS_Store
.vscode/
.idea/

# ===== TypeScript =====
*.tsbuildinfo

# ===== Firebase =====
.firebase/
firebase-debug.log

# ===== docs =====
translate.md
.gameplay/
